.jumbotron
  %h1.text-center Witaj w aplikacji monitorującej zbieranie
  %p.text-center Zarejestuj się aby móc dodawać zbiory
  .text-center= link_to "Rejestracja", new_user_registration_path, class: "btn btn-lg btn-primary", role: "button"
