body { padding-bottom: 70px; }

footer.footer {
  margin: 25px 0 0 0;
}

.input-group-addon {
  padding: 2px;
  font-size: 12px;
}

footer.well {
  padding-bottom: 5px;
}
.go-right {
  float: right;
}

input {
  &#day_blueberry_kg, &#day_raspberry_kg, &#day_blackberry_kg, &#day_hour_amount {
    width: 90px;
  }
  &#day_date {
    width: 130px;
  }
}

.bolder {
  font-weight: bold;
  font-size: 20px;
}