.row
  .col-md-6.col-md-offset-3
    %h1.text-center Aktualne kursy
    .panel.panel-warning
      .panel-heading
        %h3.panel-title Kursy:
      .panel-body
        %p Po aktualizacji kursów będą one automatycznie dołączone do każdej nowej dniówki, nie dotyczą one wcześniej dodanych dniówek.
      %ul.list-group
        %li.list-group-item 
          %b Borówka:
        %li.list-group-item 
          %b Malina:
        %li.list-group-item 
          %b Jeżyna:
        %li.list-group-item 
          %b Godzina:
        %li.list-group-item 
          %b Wyżywienie:

    = link_to "Edycja", edit_rate_path(current_user.rate), class: "btn btn-warning btn-lg center-block"
